@model AcunMedyaPortfolyo.Models.Tbl_Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.TestimonialID)
    <br />
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.TestimonialName , new { @class="form-control"}) 
    <br />
    <label>Referans Açıklaması</label>
    @Html.TextBoxFor(x => x.Description2, new { @class = "form-control" })
    <br />
    <label>Referans Resmi</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Referans Unvanı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Sayfa Açıklaması</label>
    @Html.TextBoxFor(x => x.Descripion1, new { @class = "form-control" })
    <br />
    <button>Güncelle</button>

</form>
